body {
    background: white;
    font-family: "Lucida Sans Typewriter", 'Times New Roman', Times, serif;
}

#upperContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    outline: auto;
    justify-content: flex-start;
    align-items: center;

}

#bigPoster {
    width: 25%;
    height: 50%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: flex-start;
}

#filmInfo {
    max-width: 50%;
    list-style-type: none;
    align-items: flex-end;
}

#title {
    font-weight: bold;
    font-size: 200%;

}

#genre {
 font-size: 150%;
}

#description {
    font-size: 100%;
    font-style: italic;
    padding-bottom: 10%;
}

#user {
    font-size: 125%;
    font-weight: bold;
}

#pageTitles {
    padding-bottom: 5%;
}

#leftTitle {
    color: black;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0%;
    float: left;
}

#rightTitle {
    float: right;
    font-weight: bold;
}

#watches {
    display: inline-block;
}

#number {
    display: inline-block;
}

#watchedButton {
    color: blue
}

#slider-area {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container img {
    height: 200px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}


#my-slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw
}

#left-button {
    background-color: red;
    z-index: 1;
    display: flex;
}

#right-button {
    background-color: blue;
    z-index: 1;
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 116px;
    position: relative;
}